#crs{
    .background-before{        
        background-image: url(./../../images/yellow_top_wave_01.png);
        background-position: top;
        background-repeat: no-repeat;
        background-size: contain;        
        height: 15rem;
        
    }
    .background-after{
        background-image: url(./../../images/Violet_top_left_wave.png);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;          
        height: 16rem;
        
    }    
    .carousel_content{        
        margin: 0 8rem; 
        height: 30rem;   
        .carousel-left{
            display: flex;
            align-items: center;
            h3{
                color: $background-color-button;
                text-transform: uppercase;
                font-size: 18px;
                font-weight: 700;
            }
            h1{
                font-size: 80px;
                font-weight: 700;
            }
        }
        .carousel-right{                      
            img{            
                height: 130%;
            }
        }
    }
}
